.navs-horizontal #{$gridi-components-navigation-selector},
#{$gridi-components-navigation-selector}.nav-horizontal {
    @include display-flex();
    @include include-element-margin($gridi-components-navigation-horizontal-margin-top, $gridi-components-navigation-horizontal-margin-bottom, $gridi-components-navigation-horizontal-margin-left, $gridi-components-navigation-horizontal-margin-right, $gridi-components-navigation-horizontal-margin-for-screens);
    
    @include navigation-sub-nav-style() {
        display: inline-table;
        @include display-inline-flex();
        vertical-align: top;
    }

    @include navigation-item-style() {
        display: table-cell;
        margin: 0;
        padding: 0 0 0 $gridi-components-navigation-horizontal-space-between-items;
    }

    > {
        @include navigation-item-style() { 
            &:first-child {
                padding-left: 0;
            }
        }
    }

    @include navigation-link-style() {
        display: inline-block;
        padding: $gridi-components-navigation-horizontal-item-link-padding;
        vertical-align: top;
    }
}